{% extends "layout.html" %}

{% block title %}  Portfolio - Blog {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/project.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css') }}">
{% endblock styles %}

{% block img %}
        <div class="img">
            <img  src="{{ url_for('static', filename='images/blog.jpg') }}" alt="">
        </div>
        <div class="name">
            Blog
        </div>
{% endblock img %}

{% block content %}
        <div class="projects ml-projects">
            <div class="card blog">
                <div class="cimg">
                    <img height="200px" width="300px" src="{{ url_for('static', filename='images/blog1.png') }}" alt="">
                </div>
                
                <div class="ctitle">Word Embedding - The working of Word2Vec model</div>
                <div class="ctext">
                    <div class="ctext"><a href="https://medium.com/@smohammedzubair0/word-embedding-the-working-of-word2vec-model-dcafceacd7b7">see details</a></div>
                </div>
            </div>
        </div>
{% endblock content %}