{% extends "layout.html" %}

{% block title %}
    Portfolio - certificates
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/certificates.css') }}">
{% endblock styles %}

{% block img %}
        <div class="img">
            <img  src="{{ url_for('static', filename='images/certified.png') }}" alt="">
        </div>
        <div class="name">
            Certificates
        </div>
{% endblock img %}

{% block content %}
        <div class="certificate">
            <div class="cimg">
                <img src="{{ url_for('static', filename='images/certificates/ai.png') }}" height="300px" width="400px" alt="">
            </div>
            <div class="ctitle"><p>Introduction to Artificial Intelligence (AI) - IBM</p>

                <div class="btns">
                    <a href="{{ url_for('static', filename='pdfs/ai.pdf') }}"><button class="view">View</button></a>
                    <a href="{{ url_for('static', filename='pdfs/ai.pdf') }}" download><button class="download">Download</button></a>
                </div>
            </div>
        </div>
        <div class="certificate">
            <div class="cimg">
                <img src="{{ url_for('static', filename='images/certificates/ML_bootcamp.png') }}" height="300px" width="400px" alt="">
            </div>
            <div class="ctitle"><p>ML Bootcamp - Make Skilled</p>
                <div class="btns">
                    <a href="{{ url_for('static', filename='pdfs/ml_bootcamp.PDF') }}" ><button class="view">View</button></a>
                    <a href="{{ url_for('static', filename='pdfs/ml_bootcamp.PDF') }}" download><button class="download">Download</button></a>
                </div>
            </div>
        </div>
        <div class="certificate">
            <div class="cimg">
                <img src="{{ url_for('static', filename='images/certificates/oasis.png') }}" height="300px" width="400px" alt="">
            </div>
            <div class="ctitle"><p>Data Science internship - Oasis Infobyte</p>
                <div class="btns">
                    <a href="{{ url_for('static', filename='pdfs/oasis.pdf') }}" ><button class="view">View</button></a>
                    <a href="{{ url_for('static', filename='pdfs/oasis.pdf') }}" download><button class="download">Download</button></a>
                </div>
            </div>
        </div>
        <div class="certificate">
            <div class="cimg">
                <img src="{{ url_for('static', filename='images/certificates/python_101.png') }}" height="300px" width="400px" alt="">
            </div>
            <div class="ctitle"><p>Python 101 for Data Science - Cognitive Class</p>
                <div class="btns">
                    <a href="{{ url_for('static', filename='pdfs/python_101.pdf') }}" ><button class="view">View</button></a>
                    <a href="{{ url_for('static', filename='pdfs/python_101.pdf') }}" download><button class="download">Download</button></a>
                </div>
            </div>
        </div>
        <div class="certificate">
            <div class="cimg">
                <img src="{{ url_for('static', filename='images/certificates/email.png') }}" height="300px" width="400px" alt="">
            </div>
            <div class="ctitle"><p>Write Professional Emails in English - Georgia</p>Institute of Technology
                <div class="btns">
                    <a href="{{ url_for('static', filename='pdfs/email.pdf') }}" ><button class="view">View</button></a>
                    <a href="{{ url_for('static', filename='pdfs/email.pdf') }}" download><button class="download">Download</button></a>
                </div>
            </div>
        </div>
{% endblock content %}