{% extends "layout.html"  %}

{% block title %}
    Portfolio - contact info
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contactstyle.css') }}">
{% endblock styles %}

{% block img %}
        <div class="img">
            <img src="{{ url_for('static', filename='images/contact.jpg') }}" alt="">
        </div>
        <div class="name">
            Contact
        </div>
{% endblock img %}

{% block content %}
        <div class="contacts">

            <div class="contact-m">
                <div class="ctitle">
                    Send me a Message
                </div>
                <div class="text">Whether you want to discuss something, or have a opportunity for me feel free to
                    contact.</div>
            </div>
            <div class="contact">
                <span>
                    <img src="{{ url_for('static', filename='images/phone.png') }}" alt=""> <b>Phone :</b> +91 6281709788
                </span>
                <span>
                    <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt=""> <b>Whatsapp :</b> +91 6281709788
                </span>
                <span>
                    <img src="{{ url_for('static', filename='images/mail.png') }}" alt=""><b>Mail :</b> smohammedzubair0@gmail.com
                </span>


                <div class="platforms">
                    <div class="platform">
                        <a href="https://www.linkedin.com/in/shaik-mohammed-zubair-0898aa259"><img
                                src="{{ url_for('static', filename='images/linkedin.png') }}" width="200px" alt=""></a>
                    </div>
                    <div class="platform">
                        <a href="https://github.com/SmdZubair0"><img src="{{ url_for('static', filename='images/git.png') }}" width="200px" alt=""></a>
                    </div>
                    <div class="platform">
                        <a href="mailto:smohammedzubair0@gmail.com"><img src="{{ url_for('static', filename='images/mail.png') }}" width="200px" alt=""></a>
                    </div>
                    <div class="platform">
                        <a href="https://www.kaggle.com/shaikmohammedzubair"><img src="{{ url_for('static', filename='images/kaggle.png') }}" width="200px" alt=""></a>
                    </div>
                    <div class="platform">
                        <a href="https://medium.com/@smohammedzubair0"><img src="{{ url_for('static', filename='images/medium.png') }}" width="200px" alt=""></a>
                    </div>
                </div>


            </div>
        </div>
{% endblock content %}