{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/projectpage.css') }}">
{% endblock styles %}

{% block img %}
        <div class="img">
            <img src="{{ url_for('static', filename='images/movie2.jpeg') }}"  alt="">
        </div>
        <div class="name">
            Movie Recommendation System
        </div>
{% endblock img %}

{% block content %}
        <div class="know2">
            <a href="{{ url_for('project') }}">&#x2190; Back to Projects Page</a>
        </div>
        <div class="bhead">
            <b>Website : </b><a href="https://movie-recommendation-system-bgmi.onrender.com">Click Here</a>
        </div>
        <div class="box">
            <div class="bhead">Introduction</div>
            This is a Machine Learning application that recommends similar movies based on the given input movie.
        </div>
        <div class="box"> 
            <div class="bhead">
                Data used:
            </div>
            TMDB Movies Dataset <a href="https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset">Click Here</a><br>
            The dataset contained lots of imformation about movies of various languages and regions. The data was not ready for model training and required lots of data processing and feature engineering steps.
        </div>
        <div class="box"> 
            <div class="bhead">
                Workflow:
            </div>
            <ul>
                <li>Data preperation</li>
                <li>Removing inappropriate Data</li>
                <li>Filling missing values</li>
                <li>Handling Outliers</li>
                <li>Encoding Features</li>
                <li>Selecting important Features</li>
                <li>Converted them to Vectors using Word Embeddings</li>
            </ul>
            <ul>
                <li>Model Training</li>
                <li>Calculated cosine similarities between vectors</li>
                <li>Defined a function to predict 5 similar vectors(movies)</li>
            </ul>
            <ul>
                <li>Deployment</li>
                <li>Created web page using HTML,CSS</li>
                <li>Integrated model with web page using Flask</li>
                <li>Uploaded to GitHub</li>
            </ul>
        </div>
        <div class="box"> 
            <div class="bhead">
                Libraries and Frameworks used:
            </div>
            Python <br>
            Pandas <br>
            Numpy <br>
            Matplotlib <br>
            Sklearn <br>
            Ginsim <br>
            HTML <br>
            CSS <br>
            Flask <br>
        </div>
        <div class="box"> 
            <div class="bhead">
                Conclusion:
            </div>
            By doing this project I gained some experience in Machine Learing and NLP and got knowledge to build a full Machine Learing model
        </div>


        <div class="know2">
            <a href="https://github.com/SmdZubair0/House-price-prediction">Code link &#8594;</a>
        </div>
{% endblock content %}