*{
    margin: 0;
    padding: 0;
}
:root{
    --nav-col: rgb(5, 5, 5);
    --nav-bdr: rgb(7, 7, 7);
}
header{
    color: var(--nav-col);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.navbar{
    font-family: 'arial','Courier New';
    width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlist{
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    font-size: larger;
    font-weight: 700;
}
.navlist li{
    list-style: none;
    border-bottom: 1px solid var(--nav-bdr);
    border-bottom-width: 0px;
}
.navlist li:hover{
    scale: 1.2;
    border-bottom-width: initial;
    transition: scale 0.5s, border-bottom-width 0.2s;
    /* transition: all 0.5s; */
}
.name{
    font-family: 'Arial';
    font-size: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
}
.contacts{
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
}
.contacts a{
    line-height: 0.5;
}
.contacts img{
    width: 30px;
    height: 30px;
}
a{
    text-decoration: none;
    color: var(--nav-col);
}

.title{
    font-size: 25px;
    margin-left: 10px;
    /* color: white; */
    font-weight: bold;
}
footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--nav-col);
    background-color: rgb(255, 255, 255);
    text-align: center;
    flex-wrap: wrap;
}
.img{
    height: 18vw;
    width: 18vw;
    align-self: center;
    border-radius: 90%;
    overflow: hidden;
    margin-top: 50px;
    object-position: center;
}
.img img{
    width: 20vw;
}
.body{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    opacity: 0.7;
    z-index: -10;
}
.resumes{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    color: rgb(51, 158, 234);
}
.resumes img{
    transition: 1s;
    width: 30px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.resume button{
    font-size: 15px;
    padding: 10px 15px;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 20px;
    width: 170px;
    margin-top: 10px;
    transition: 1s;
    cursor: pointer;
}
.resume{
    height: 0px;
    overflow: hidden;
    transition: 1s;
}
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-self: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transform: 0.5s;
    width: 0;
    background-color: rgb(213 213 213);
    z-index: 100;
}
.sidebar .title{
    margin: 50px 0;
    margin-left: 20px;
}
.sidebar li{
    list-style: none;
}
.side-navlist li a{
    color: black;
    margin: 10px 15px;
    padding: 5px 0;
    text-decoration: none;
    font-size: 25px;
    /* color: white; */
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid black;
}
.side-navlist li a:hover{
    background-color: #a8a6a6;
}
.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    align-self: flex-start;
    padding-left: 15px;
    z-index: 105;
    top: 0;
    position: fixed;;
}


@media screen and (max-width: 790px) {
    .navbar {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    .name{
        font-size: 40px;
    }
    footer{
        font-size: 15px;
        padding: 0 5px;
    }
    .resumes{
        font-size: 20px;
        width: 230px;
    }
    .resume{
        font-size: 15px;
    }
    .resumes img{
        height: 10px;
        width: 20px;
    }
    .btns button{
        font-size: 10px;
    }
}