body {
    background-image: url('../images/blog-bg.jpg');
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Make the background image fixed in place */
    background-position: center; /* Center the image */
}
.cimg img{
    border: 2px solid black;
}
@media screen and (max-width: 75px){
    .blog ctitle{
        font-size: 15px;
    }
}
        
