:root{
    --main-col: rgb(255, 255, 255);
}
body {
    background-image: url('../images/resume-bg.avif');
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Make the background image fixed in place */
    background-position: center; /* Center the image */
}
main{
    /* background: var(--main-bg-col); */
    color: var(--main-col);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video{
    border: 1px solid black;
    height: 400px;
    width: 700px;
    margin: 50px;
    background-color: aliceblue;
}
.resume{
    width: 500px;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 35px;
    font-weight: bold;
    align-items: center;
    margin: 50px;
    border: 3px solid var(--main-col);
    border-radius: 15px;
    /* background: linear-gradient(to bottom, rgb(101, 85, 85), rgb(234, 205, 205)); */
    background-color: rgb(66, 65, 65);
    color: white;
    text-align: center;
}
.btns button{
    font-size: 20px;
    padding: 10px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.btns button:hover{
    scale: 1.1;
    cursor: pointer;
}
.view{
    background-color: rgb(43, 43, 242);
}
.download{
    background-color: rgb(0, 196, 10);
}
.cert-box{
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
.close{
    color: black;
    font-size: 50px;
    cursor: pointer;
    margin-left: 20px;
}

@media screen and (max-width: 750px) {
    .video{
        width: 270px;
        height: 200px;
    }
    .resume{
        width: 250px;
        height: 200px;
    }
    .cert-box{
        max-width: 80vw;
        padding: 0;
    }
    .close{
        font-size: 15px;
        /* margin: 10px; */
    }
    .cert-box iframe{
        width: 60vw;
    }
}